@import '../../../styles/settings.scss';

.root {
  .menu {
    justify-content: space-between;

    &__logo {
      color: #fff;
      text-decoration: none;
    }

    .icon {
      margin-left: $main-spacing;
    }
  }
}
