@import '../../../styles/settings.scss';

.root {
  .container{
    margin: 0.7rem auto;
    padding: 1rem;
    max-width: 1040px;
    // background-color: $color-background-medium;
    min-height: 100vh;
  }
}
