@import '../../../styles/settings.scss';

.root {
  .addContainer {
    .paperCard {
      padding: $base-size * 2 $base-size;

      &__item {
        margin: $base-size auto;
      }

      &__btn {
        margin-top: $base-size;
      }

      &__textError {
        color: $color-text-error;
      }

      &__link{
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .snackbarr__success {
    bottom: 100px;

    div:nth-child(1){
      background-color: rgb(0, 66, 0);
    }
  }

  .snackbarr__error {
    bottom: 100px;

    div:nth-child(1){
      background-color: rgb(189, 2, 2);
    }
  }
}
