@import '../../../styles/settings.scss';

.root {
  .announcement {
    padding: $main-spacing;
    text-align: center;

    &__link {
      color: $color-text;
      text-decoration: none;
    }
  }

  .card{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-content: stretch;

    &__item {
      flex-basis: 30%;
      margin: $main-spacing;
      flex-grow: 1;
      align-self: stretch;

      .flex{
        height: 100%;
      }

      .link {
        text-decoration: none;
        color: $color-text;
      }

      .imageContainer {

        .image {
          max-height: 40vh;
        }
      }


      .price {
        margin-top: $main-spacing;
      }
    }

    &__btn {
      justify-content: center;
    }

  }
}
